DB_HOST=localhost
DB_PORT=5432
DB_DB=economize_db
DB_USERNAME=postgres
DB_PASSWORD=rootpassword
JWT_CHAVE_PUBLICA=
JWT_CHAVE_PRIVADA=
JWT_EXPIRACAO_SEGUNDOS=
COOKIE_SAME_SITE=
COOKIE_SECURE=
CORS_ORIGINS=
